# OS / Editor
.DS_Store
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/

# Env / Secrets
.env
.env.*
*.pem
*.key

# Logs
*.log

# Docker
**/.dockerignore

# Node (혹시 있을 경우)
node_modules/

python/
python/
